/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */

.movie-entry{
    margin: 5px;
    padding-bottom: 10px;
    border-bottom: 1px dashed black
}

.movie-entry h4{
    margin-bottom: 0px;
}

.movie-entry .ratings {
    display: flex;
    flex-direction: row;
}

.movie-entry .ratings > div {
    border: 1px solid black;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: row;
}

form {
    background-color: lightgray;
    padding
}
.checkbox-list {
    display: flex;
    flex-direction: row;
}